# ignore mac default file
.DS_Store
.AppleDouble
.LSOverride

# ignore sts default file 
.classpath
.project
.springBeans
.settings/
target/
Users/
UserAuth4JWT/src/main/webapp/WEB-INF/spring/appServlet/servlet-context.xml

UserAuth4JWT/src/main/webapp/WEB-INF/spring/root-context.xml
